# Get Started
Fork this notebook by hitting the blue "Fork Notebook" button at the top of this page.  "Forking" makes a copy that you can edit on your own without changing the original.

After forking this notebook, run the code in the following cell.

In [10]:
# import package with helper functions 
import bq_helper

# create a helper object for this dataset
open_aq = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="openaq")

# print all the tables in this dataset (there's only one!)
open_aq.list_tables()
open_aq.head("global_air_quality")

             location          ...           averaged_over_in_hours
0        Mobile_Plain          ...                              1.0
1        Plain_Mobile          ...                              1.0
2  Leavenworth_Mobile          ...                              1.0
3     Cle Elum_Mobile          ...                              1.0
4     Mobile_Cle Elum          ...                              1.0

[5 rows x 11 columns]

Then write and run the code to answer the questions below.

# Question

#### 1) Which countries use a unit other than ppm to measure any type of pollution? 
(Hint: to get rows where the value *isn't* something, use "!=")

In [19]:
# Your Code Goes Here
query="""SELECT COUNT(pollutant) AS Pollutant, country
FROM `bigquery-public-data.openaq.global_air_quality`
WHERE pollutant != "ppm"
GROUP BY country
ORDER BY Pollutant DESC



"""
county_ppm = open_aq.query_to_pandas_safe(query)
print(county_ppm.head())

   Pollutant country
0       7895      CN
1       3486      US
2       1901      ES
3       1594      FR
4       1402      DE

#### 2) Which pollutants have a value of exactly 0?

In [ ]:
# Your Code Goes Here

query="""SELECT pollutant 
FROM `bigquery-public-data.openaq.global_air_quality`
WHERE value = 0

"""
county_ppm = open_aq.query_to_pandas_safe(query)
print(county_ppm.head())

# Keep Going
After finishing this exercise, click [here](https://www.kaggle.com/dansbecker/group-by-having-count/).  You will learn about the **GROUP BY** command and its extensions.  This is especially valuable in large datasets like what you find in BigQuery.

# Help and Feedback 
Bring any comments or questions to the [Learn Discussion Forum](https://www.kaggle.com/learn-forum).

If you want comments or help on your code, make it "public" first using the "Settings" tab on this page.

---

*This tutorial is part of the [SQL Series](https://www.kaggle.com/learn/sql) on Kaggle Learn.*